/* custom-scrollbar.css */

/* Set scrollbar width and color */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f46e5; /* Change to your preferred color */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Change to your preferred color */
  }
