/* custom-scrollbar.css */

/* Set scrollbar width and color */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #1A56DB; /* Change to your preferred color */
    border-radius: 10px;
    border-color: red;
    
  }
  
  ::-webkit-scrollbar-track {
    background-color: #C3DDFD; /* Change to your preferred color */
  }
